.medium_4_detail {
    position: absolute;
    right: 75px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(59, 58, 58);
}


@media(max-width: 640px) {

    .medium_4_detail {
        right: 31%;

    }
}

@media(max-width: 513px) {

    .medium_4_detail {
        right: 30%;
    }
}

@media(max-width: 408px) {

    .medium_4_detail {
        right: 28%;

    }
}

@media(max-width: 330px) {

    .medium_4_detail {
        right: 26%;

    }
}