
.base_liquida {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    /* background-color: rgb(77, 68, 68); */
}

.base_liquida span {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    border-radius: 50%;
}
.base_liquida .b2 {
    background-image: url(./BageImg/bage2.png);
}
.base_liquida .b3 {
    background-image: url(./BageImg/bage3.png);
}
.base_liquida .b4 {
    background-image: url(./BageImg/bage4.png);
}
.base_liquida .b5 {
    background-image: url(./BageImg/bage5.png);
}
.base_liquida .b7 {
    background-image: url(./BageImg/bage7.png);
}

.base_liquida span:hover {
    border: 2px solid black;
}

.bage_2 {
    position: absolute;
    top: 80px;
    left: 2px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}
.bage_3 {
    position: absolute;
    top: 80px;
    left: 40px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}
.bage_4 {
    position: absolute;
    top: 80px;
    left: 86px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}
.bage_5 {
    position: absolute;
    top: 80px;
    right: 38px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}
.bage_7 {
    position: absolute;
    top: 80px;
    right: 2px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}




