
.mobile-menu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 60px;
    width: 100%;
    height: 95vh;
    z-index: 4;
    margin: 0;
    padding: 0;
    border: 1px solid #C7C7C7;
    background-color: #FFFFFF;
    /* background-color: bisque; */
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-bottom: 6rem;
    padding: 0;
    /* background-color: aquamarine; */
}

.mobile-menu ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    /* background-color: violet; */
}

.mobile-menu ul li a{
    text-decoration: none;
}


@media(min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}

