
.bage_5_detail {
    position: absolute;
    right: 58px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}

@media(max-width: 640px){

    .bage_5_detail {
        right: 25%;
    }
}
@media(max-width: 513px){

    .bage_5_detail {
        right: 24%;
    }
}
@media(max-width: 450px){

    .bage_5_detail {
        right: 23%;
    }
}
@media(max-width: 400px){

    .bage_5_detail {
        right: 22%;
    }
}
@media(max-width: 320px){

    .bage_5_detail {
        right: 20%;
    }
}
