
.tint_juice_detail {
    position: absolute;
    left: 39%;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}

@media(max-width: 640px){

    .tint_juice_detail {
        left: 44%;
    }
}
@media(max-width: 320px){

    .tint_juice_detail {
        left: 39%;
    }
}