
.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    /* background-color: slategray; */
    background-color: #FFFFFF;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 100vh;
    flex-flow: wrap;
    margin: 0 auto;
    background-color: thistle;
    background-color: #FFFFFF;
}