.bage_3_detail {
    position: absolute;
    left: 60px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}


@media(max-width: 640px) {

    .bage_3_detail {
        left: 25%;
    }
}

@media(max-width: 470px) {

    .bage_3_detail {
        left: 25%;
    }
}

@media(max-width: 460px) {

    .bage_3_detail {
        left: 23.4%;
    }
}

@media(max-width: 420px) {

    .bage_3_detail {
        left: 22%;
    }
}