.bage_3_detail {
    position: absolute;
    left: 60px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(59, 58, 58);
}


<<<<<<< HEAD

@media(max-width: 640px) {
=======
@media(max-width: 640px){

    .bage_3_detail {
        left: 25%;
    }
}
@media(max-width: 470px){
>>>>>>> 02ec9e00f993aa33177ec80878ed52295b132517

    .bage_3_detail {
        left: 25%;
    }
}
<<<<<<< HEAD

@media(max-width: 470px) {

    .bage_3_detail {
        left: 24%;
=======
@media(max-width: 460px){

    .bage_3_detail {
        left: 23.4%;
>>>>>>> 02ec9e00f993aa33177ec80878ed52295b132517
    }
}
@media(max-width: 420px){

<<<<<<< HEAD
@media(max-width: 450px) {

    .bage_3_detail {
        left: 23%;
    }
}
=======
    .bage_3_detail {
        left: 22%;
    }
}
>>>>>>> 02ec9e00f993aa33177ec80878ed52295b132517
