
.medium_5_detail {
    position: absolute;
    right: 6px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}

@media(max-width: 640px){

    .medium_5_detail {
        right: 6%;
        
    }
}
@media(max-width: 506px){

    .medium_5_detail {
        right: 5%;
        
    }
}
@media(max-width: 380px){

    .medium_5_detail {
        right: 3%;
        
    }
}

