.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 65vh;
    position: fixed;
    top: 60px;
    right: 0;
    border: 1px solid darkgray;
    background-color: #FFFFFF;
    /* background-color: slategray; */

}

.close-product-detail {
    position: absolute;
    top: 2px;
    font-weight: bold;
    right: 4px;
    width: 24px;
    height: 24px;
    font-size: 18px;
}

.icon-x {
    width: 100%;
    height: 100%;

}

.product-detail-img {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 10px;
    /* background-color: cornflowerblue; */
}

.product-detail-img img {
    width: 90%;
    height: 100%;
    border-radius: 15px;
}

.aside-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 55%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 4px;
    /* background-color: chartreuse; */
}

.aside-product-info .title {
    width: 100%;
    /* background-color: aquamarine; */
}

.variety {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    /* background-color: tomato; */
}
.variety-container {
    bottom: 30%;
    position: absolute;
    width: 90%;
    z-index: 6;
    /* background-color: burlywood; */
}

.aside-product-info .price {
    width: 95%;
    /* background-color: chocolate; */
}

.aside-product-info .description {
    width: 100%;
    font-size: 15px;
    height: 50%;
    /* background-color: skyblue; */
}



@media(max-width: 640px) {
    .product-detail {
        width: 100%;
        height: 95vh;
    }

    .product-detail-img {
        width: 76%;
        height: 45%;
        margin: 0 auto;
        margin-top: 4px;
    }

    .aside-product-info {
        justify-content: space-between;
        height: 40%;
        margin-bottom: 6rem;
    }

    .variety-container {
        bottom: 33%;
    }

}



@media(max-height: 640px) {
    .product-detail {
        height: 95vh;
        /* background-color: rosybrown; */
    }

    .product-detail-img {
        width: 80%;
        height: 40%;
        margin: 0 auto;
        margin-top: 4px;
        /* background-color: aqua; */
    }

    .aside-product-info {
        justify-content: space-between;
        height: 42%;
        margin-bottom: 6rem;
        /* background-color: violet; */
    }
    .variety-container {
        bottom: 50%;
        z-index: 6;
        /* background-color: yellow; */
    }

}


@media (max-height:770px ) {
    .variety {
        align-items: normal;
        height: 60px;
        /* background-color: aqua; */
    }
    .variety-container {
        bottom: 36%;
    }
}

@media (max-width: 408px){
    .variety-container {
        bottom: 40%;
    }
}

