.bage_2_detail {
    position: absolute;
    left: 8px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color:black;
}

@media(max-width: 640px) {

    .bage_2_detail {
        left: 6%;
    }
}
@media(max-width: 320px){

    .bage_2_detail {
        left: 3%;
    }
}

@media(max-width: 450px) {

    .bage_2_detail {
        left: 4%;
    }
}