.gel_tint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    /* background-color: rgb(77, 68, 68); */
}

.gel_tint span {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    border-radius: 50%;
}
.gel_tint span:hover {
    border: 2px solid black;
}

.tint-red {
    background-image: url(./GelImg/ge1.png);
}
.tint-juice {
    background-image: url(./GelImg/gel2.png);
}
.tint-pool {
    background-image: url(./GelImg/gel3.png);
}

.tint_red {
    position: absolute;
    top: 80px;
    left: 2px;
    width: 110px;
    height: 18px;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: black;
}
.tint_juice {
    position: absolute;
    top: 80px;
    left: 46px;
    width: 140px;
    height: 18px;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: black;
}
.tint_pool {
    position: absolute;
    top: 80px;
    right: 2px;
    width: 115px;
    height: 18px;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: black;
}
