
.bage_4_detail {
    position: absolute;
    left: 116px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(59, 58, 58);
}

@media(max-width: 640px){

    .bage_4_detail {
        left: 44.5%;
    }
}

@media(max-width: 550px){

    .bage_4_detail {
        left: 43%;
    }
}
@media(max-width: 460px){

    .bage_4_detail {
        left: 42%;
    }
}
@media(max-width: 380px){

    .bage_4_detail {
        left: 41%;
    }
}
@media(max-width: 320px){

    .bage_4_detail {
        left: 40%;
    }
}