
.bage_7_detail {
    position: absolute;
    right: 6px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(59, 58, 58);
}

@media(max-width: 640px){

    .bage_7_detail {
        right: 6%;
    }
}
@media(max-width: 450px){

    .bage_7_detail {
        right: 5%;
    }
}
@media(max-width: 400px){

    .bage_7_detail {
        right: 4%;
    }
}
