.bage_7_detail {
    position: absolute;
    right: 6px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}

@media(max-width: 640px) {

    .bage_7_detail {
        right: 5%;
    }
}

@media(max-width: 450px) {

    .bage_7_detail {
        right: 4%;
    }
}

@media(max-width: 400px) {

    .bage_7_detail {
        right: 4%;
    }
<<<<<<< HEAD
}
=======
}
@media(max-width: 320px){

    .bage_7_detail {
        right: 2%;
    }
}
>>>>>>> 02ec9e00f993aa33177ec80878ed52295b132517
