.medium_2_detail {
    position: absolute;
    left: 75px;
    width: 70px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: black;
}

@media(max-width: 430px) {

    .medium_2_detail {
        left: 32%;

    }
}

@media(max-width: 550px) {

    .medium_2_detail {
        left: 31%;

    }
}

@media(max-width: 430px) {

    .medium_2_detail {
        left: 29%;

    }
}

@media(max-width: 330px) {

    .medium_2_detail {
        left: 27%;

    }
}


@media(max-width: 330px) {

    .medium_2_detail {
        left: 27%;
    }
}